In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("heart.data.csv")

In [3]:
df.head()

   Unnamed: 0     biking    smoking  heart.disease
0           1  30.801246  10.896608      11.769423
1           2  65.129215   2.219563       2.854081
2           3   1.959665  17.588331      17.177803
3           4  44.800196   2.802559       6.816647
4           5  69.428454  15.974505       4.062224

In [4]:
df.tail()

     Unnamed: 0     biking    smoking  heart.disease
493         494  47.660440  27.562464      11.294392
494         495  45.097203  21.385620       9.616762
495         496   8.279743   6.423720      13.495168
496         497  42.345863  20.741328      10.115865
497         498  30.774254  23.610175      11.843556

In [5]:
df.drop(labels='Unnamed: 0',axis=1,inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   biking         498 non-null    float64
 1   smoking        498 non-null    float64
 2   heart.disease  498 non-null    float64
dtypes: float64(3)
memory usage: 11.8 KB

In [7]:
df.describe()

           biking     smoking  heart.disease
count  498.000000  498.000000     498.000000
mean    37.788411   15.435034      10.174538
std     21.481519    8.289959       4.571874
min      1.119154    0.525850       0.551898
25%     20.204598    8.279776       6.513683
50%     35.824459   15.814614      10.385255
75%     57.852786   22.568925      13.724024
max     74.907111   29.946743      20.453496

In [8]:
df.corr()

                 biking   smoking  heart.disease
biking         1.000000  0.015136      -0.935455
smoking        0.015136  1.000000       0.309131
heart.disease -0.935455  0.309131       1.000000

In [9]:
mean_of_heart_disease = df['heart.disease'].mean()
mean_of_biking = df['biking'].mean()
mean_of_smoking = df['smoking'].mean()

In [10]:
# for calculating multilinear regression with two independent variables 
# y = B0 + B1*X1 + B2*X2 + E
# where,
# y = predicted value
# B0 = slope
# B1 = regression coefficient for first variable
# B2 = regression coefficient for second variable
# X1 = the value from the data of first variable
# X2 = the value from the data of second variable
# E = model error (how much variation there is in our estimate of y)

In [11]:
# Calculating regression coefficient for biking and smoking i.e B1 and B2

In [12]:
# B1 = (sum of (X2**2))*(sum of (X1 * y))-(sum of (X1*X2))*(sum of (X2*y)) / (sum of (X1**2))*(sum of (X2**2))- (sum of X1*X2)**2
# B2 = (sum of (X1**2))*(sum of (X2 * y))-(sum of (X1*X2))*(sum of (X1*y)) / (sum of (X1**2))*(sum of (X2**2))- (sum of X1*X2)**2

In [13]:
# B0 = mean_of_y - B1*mean_X1 - B2*mean_X2

In [14]:
# let's start with B1
X1_biking = np.array(df['biking'])
X2_smoking = np.array(df['smoking'])
y_heart_disease = np.array(df['heart.disease'])

In [15]:
numerator = (sum(X2_smoking**2)*sum(X1_biking*y_heart_disease)) - (sum(X1_biking*X2_smoking)*sum(X2_smoking*y_heart_disease))
denominator = (sum(X1_biking**2)*sum(X2_smoking**2)) - (sum(X1_biking*X2_smoking))**2

In [16]:
B1 = numerator/denominator

In [17]:
# let's find out B2
numerator = (sum(X1_biking**2))*(sum(X2_smoking * y_heart_disease))-(sum(X1_biking*X2_smoking))*(sum(X1_biking*y_heart_disease))
denominator = (sum(X1_biking**2))*(sum(X2_smoking**2))-(sum(X1_biking*X2_smoking))**2
B2 = numerator/denominator

In [18]:
B1

-0.03827375916138547

In [19]:
B2

0.6230370992658973

In [20]:
# let's find out B0 i.e the slope
B0 = mean_of_heart_disease - B1*mean_of_biking - B2*mean_of_smoking

In [21]:
pred_y = B0 + B1*X1_biking + B2*X2_smoking

In [24]:
pred_y

array([ 7.61435513,  0.89437385, 12.88742223,  2.03566979,  9.29966463,
       18.19766887,  5.77192288,  9.81781288,  6.95950226, 15.15766879,
        9.01429853, 15.60074965,  7.00563558,  5.14329023,  5.33264537,
        8.98258639, 10.1357705 ,  4.29288242,  8.37430366, 13.8666643 ,
       10.16833609, 17.74646543, 17.84257161, 15.90056752, 11.42413549,
       17.22759105,  2.16922961,  1.60419294,  6.61662704,  4.67832676,
        2.78553872, 16.9740127 , 11.46082549,  9.6098033 ,  7.66812178,
       11.72228306, 14.30069409, 16.17677351, 14.55930472,  3.18903459,
       14.60962241,  2.19234162,  3.81763112,  3.69618927,  9.66038098,
        9.29747749, 13.33000113,  5.98283877,  8.68595411, 12.99677746,
        0.50404274,  8.55017966, 10.14041669, 16.46861693, 14.71042976,
        1.62443977, 15.4977896 ,  3.68194818,  7.79180704,  5.83113704,
        0.98945905,  5.76207781,  6.48490618,  5.02709297,  5.62611446,
       14.1420078 , 10.02691638,  9.44940535, 11.21243604, 16.45276767,
        5.13751118,  7.24556079, 12.92070328, 14.57539173, 16.42340575,
       12.57828722, 16.64492994,  4.09805155,  9.91449799, 10.94201446,
        6.10028008,  8.19350662,  8.58264281, 19.44275863, 15.25408196,
       11.77886685, 18.89614971,  5.68009597, 10.10681161,  6.05876023,
       18.00313159, 11.39299974,  8.53325581, 18.34103307, 15.73509488,
       13.45264265,  9.19677248, 12.90094689, 16.21443906, 12.10799029,
        2.53507026, 17.87408468, 10.90367038,  3.71964714, 12.36194627,
        5.93682537,  2.32563347,  7.2481321 , 12.86734274,  0.76010119,
       10.46977691,  9.57271685, 13.77867473,  4.59506154, 18.02183745,
       18.79956382,  5.51316904, 14.26374444, 12.55631001,  6.84981904,
        8.28159436, 16.97816555,  7.6393918 ,  6.34282832, 11.06363794,
        8.67118177, 17.32569582,  3.2879964 , 18.270759  ,  7.00738128,
        6.30417122,  5.81530218,  9.78330307, 14.97455219, 15.65711208,
       13.50692888,  7.9687944 ,  4.97140657,  2.78136483,  3.53915096,
       10.86718626,  7.32176425,  4.65647479, 18.08472623, 15.16378699,
       12.74906011,  9.23913016, 14.82191435,  5.33960383,  1.37757308,
       18.28674622, 14.12519691,  1.26799798,  8.0096979 ,  3.16291977,
       10.10528369,  8.6946158 , 12.63805155, 15.17079295, 16.3795882 ,
        2.41198842, 15.60642886,  7.56724124, 17.92806004,  6.35106905,
        8.75794078,  6.52545875, 11.9837712 , 18.32375044,  2.36181464,
        8.80338579, 17.27834346,  8.66718822, 15.56813657, 13.06958392,
        8.62155592,  9.24375463,  4.28022746,  4.52153976,  2.65355892,
       13.29422737,  8.6686095 ,  3.01343671,  3.91855783, 13.62368207,
       13.10479522,  8.44018493, 10.75527556, 12.93587574,  8.55249924,
       17.2337915 ,  7.20568807,  5.66768744,  7.72248687,  1.31283994,
       13.44832102,  9.10984371, 13.78651824,  6.8855885 , 17.21795802,
       14.78430048, 18.83336198, 10.79912794, 12.35910063,  5.82889532,
        4.41900155,  3.06130794,  1.88481737, 18.41870144,  4.83652811,
       19.05271252, 18.54287648, 13.134282  ,  5.79059301, 19.89289164,
        7.64700303,  1.68552462,  0.44065286,  8.80744417, 17.29158795,
        1.02818215, 19.03970678,  2.27816731, 10.5214955 , 11.44620515,
       15.23970138,  9.09669072, 11.96142096,  5.50419564,  6.29844801,
        2.85101809, 11.58477063,  4.82397825, 17.93017039, 11.08070803,
        5.51130116, 11.44324137, 15.54416416, 13.93419974,  7.0018869 ,
       14.33372476, 14.89602362, 11.3832456 ,  7.96746842,  8.02982808,
        6.93308313, 10.23723843, 15.40419736, 15.1016465 , 12.69184227,
        6.19172895, 12.16517672,  8.15814598, 15.90791009, 17.04169861,
        6.22969546,  8.64047899, 11.86972902,  3.74565891, 16.92643662,
        1.87957018,  4.96877679,  4.71766408, 18.3440888 ,  4.30154998,
       -0.226351  ,  3.315833  , 11.76230369, 16.75097144,  9.71160687,
        2.25215424, 11.89466047,  3.92734798, 10.60365321,  3.89906645,
        8.87981311, 13.29707057,  9.90883512, 16.12103879, 11.70515119,
       15.70150575, 10.12929417, 16.15732526, 19.52207435, 16.03607751,
       15.51474863, 13.66001051, 16.31360158,  2.13917383, 17.70818327,
        4.54670289, 17.86542786,  6.84292613, 14.53084595,  8.83994431,
        2.36541575,  6.52511949, 11.24339555, 11.98784345, 13.82929509,
        9.75277249, 15.20818529,  9.4863422 ,  2.18587854,  7.88490926,
        5.63997956,  3.49448441,  7.37927002,  2.37781867,  5.17156927,
       15.90356322,  5.50887887,  2.62410989,  1.86949473,  9.17210589,
        8.52013577,  9.301977  , 16.56131192, 13.58743551, 10.11029017,
       18.96845092,  9.25961373, 10.76267948, 11.13824742,  1.48252039,
       10.98650828, 12.84488318, 18.10933564,  3.46923957, 12.76357236,
       10.33689476, 14.57553701, 10.9185189 , 18.45099316, 16.43437671,
       13.57146167, 11.4540401 ,  5.36240658, 11.16268227, 18.78538142,
       11.49000126, 11.51199798, 13.11769393,  4.40452889, 18.63842758,
        7.58941611, 16.36729872, 15.99918648,  7.67042164, 11.8138083 ,
       17.42380259, 10.84875202, 11.40904254,  4.28261231, 11.94970723,
        1.66450432,  5.07277655,  9.99988935,  4.34478638, 15.53111819,
       12.83931747,  2.5003777 , 11.97297653, 12.5750339 , 13.97133834,
       18.15124708,  4.48803372, 13.33018442,  9.52676643,  3.30423483,
       17.62336831, 15.38923841,  9.23894321, 10.26933568,  2.12203598,
       13.98538918, 19.07718954, 19.98696167, 16.4929105 , 10.06055403,
       20.33599467, 14.50993272, 11.17159044,  8.93706495, 18.700125  ,
       14.59032908, 17.76856384,  8.78728932,  4.14561611,  7.36771028,
        9.51304102,  6.29330988, 16.121409  , 14.63767066,  3.71777784,
        2.30480572,  3.63103473,  0.22534253, -0.15222317,  4.43299759,
       14.89410871, 19.74255565,  3.18990736,  5.11436912, 18.35183503,
       18.03338836, 14.09381474, 12.51931622, 11.9497226 , 12.31740391,
        6.0231282 , 18.86140643, 19.13249897, 19.0868922 ,  8.20421487,
       11.15319058,  1.88197344, 14.51049098, 10.6539793 , 16.86076359,
       13.37105264, 11.0809828 , 11.34830827, 12.59471581, 10.82649789,
       15.99909186,  8.54028796,  3.19890022,  6.49053751,  5.00666192,
       17.96998731,  7.93117942,  7.59827037,  5.75285002,  2.3528585 ,
        9.63537083,  8.01358517, 14.60874945,  5.73613291, 12.13935403,
        4.95778998,  1.16519038, 11.31673218,  3.01868747, 12.49985722,
       12.32141198, 11.67354855, 10.87638369,  6.78981116,  9.9731608 ,
       17.00836056,  2.6860506 , 10.92209297, 13.23523429, 16.3581189 ,
        9.44550929,  5.8545597 , 13.35155714,  1.45957562,  5.90103935,
        7.27282791, 19.25267462,  8.97221094, -0.4221862 ,  7.66968004,
       14.50261519, 13.18370691, 11.8455927 , 18.21443054, 13.87215365,
        4.77778552, 17.51973753, 15.41120064,  9.25478071, 15.37696587,
        6.09679852, 12.42259091,  2.2614241 , 19.00189093, 20.18349193,
        3.64361491,  4.97539071,  9.21262321,  9.19641585,  1.77313793,
        5.14784173, 13.31014386, 15.51707644,  0.74256061,  9.46866021,
        3.81317809,  5.93646903,  5.9153393 , 17.35253683, 13.6022388 ,
        5.68956222, 13.30612471, 15.53641208])